
<h3>Contact Form</h3>

<div class="container">

    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="contactModel.name" placeholder="Your fullname.." required>

    <label for="country">Country</label>
    <select id="country" [(ngModel)]="contactModel.country" required>
      <option value="Thailand">Thailand</option>
      <option value="Japan">Japan</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" [(ngModel)]="contactModel.subject" placeholder="Write something.." style="height:200px"></textarea>

    <!-- <input type="submit" value="Submit" onclick="alert('Your message has been sent')"> -->

    <input type="submit" value="Submit"  (click)="onSubmitClick()" required>

  <table>
    <tr>
      <th>company</th>
    </tr>
    <tr *ngFor="let c of contacts">
      <td>{{c.name}}</td>
    </tr>
  </table>

</div>

